body{
  font-family: 'Roboto', sans-serif , Arial;
  position: relative;
}
.container{
  position: absolute;
  width: 350px;
  height: 180px;
  position: fixed;
  background-color: rgb(255, 159, 81);
  top:200px;
  left:500px;   
   box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.13);




}
.input-container{
  align-items:center;
  justify-content: center;
  position: absolute;
  top:50px;
  left:37px;
}

.number1{
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 120px;
  font-weight: bold;
  margin-right:6px;
  padding: 6px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.13);
  border: 1px solid rgb(156, 156, 156);

}
  .number2{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 120px;
  font-weight: bold;
  padding: 6px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.13);
  border: 1px solid rgb(141, 139, 139);

}
.result-button{
  background-color: rgb(57, 120, 255);
  padding: 6px 20px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  margin-left: 110px;
  margin-top: 15px;
  border: 0px solid;
}
.result{
  color:black;
  font-size: 14px;
  font-weight: bold;
}